.image {
	width: 100%;
	height: auto;
	margin-bottom: 16px;
}

.header {
	display: flex;
}

.header__actions {
	display: flex;
	margin-left: auto;
}

.title {
	font-weight: 700;
	font-size: var(--font-size-x-large);
	line-height: var(--line-height-x-large);
	color: var(--primary-900);
	margin-bottom: 6px;
	text-wrap: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
}

.description {
	margin-bottom: 21px;
	color: var(--primary-200);
	font-size: var(--font-size-medium);
	line-height: var(--line-height-large);
	display: -webkit-box;
	-webkit-line-clamp: 4;
	-webkit-box-orient: vertical;
	overflow: hidden;
	text-overflow: ellipsis;
}

.footer {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.link {
	position: relative;
	display: flex;
	align-items: center;
	color: var(--secondary-100);
	font-size: var(--font-size-small);
	line-height: var(--line-height-small);
}

.link:after {
	content: '';
	width: 100%;
	height: 2px;
	position: absolute;
	left: 0;
	bottom: 0;
	background: var(--secondary-100);
	transform: scaleX(0);
	transition: transform 0.2s;
}

.link:focus-visible {
	outline: none;
}

.link:focus-visible::after {
	transform: scaleX(1);
}

.link svg {
	transition: transform 0.3s;
}

@media (hover: hover) {
	.link:hover svg {
		transform: translateX(5px);
	}
}
