.like {
	color: var(--primary-200);
	font-size: var(--font-size-small);
	line-height: var(--line-height-small);
	display: flex;
	align-items: center;
	transition:
		color 0.3s,
		background 0.3s,
		opacity 0.3s,
		transform 0.3s;
}

.like:disabled {
	cursor: not-allowed;
}

.count {
	display: inline-block;
	margin-right: 2px;
}

.rounded {
	width: 48px;
	height: 48px;
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 50%;
	border: 1px solid var(--primary-800);
	color: var(--primary-800);
}

.isLiked {
	background: var(--primary-800);
	color: var(--white-100);
}

.rounded:active {
	transform: scale(0.95);
}

@media (hover: hover) {
	.rounded:hover {
		opacity: 0.8;
	}

	.rounded:disabled:hover {
		opacity: 1;
	}
}
