.container {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(340px, 1fr));
	gap: 33px;
}

.skeleton {
	width: 100%;
	min-height: 405px;
	padding: 20px;
	background-color: #e0e0e0;
	border-radius: 8px;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
	animation: pulse 1.5s infinite;
}

.skeleton__header {
	height: 40%;
	background-color: #d0d0d0;
	margin-bottom: 10px;
	border-radius: 4px;
}

.skeleton__subheader {
	height: 5%;
	background-color: #d0d0d0;
	margin-bottom: 10px;
	border-radius: 4px;
}

.skeleton__body {
	height: 40%;
	background-color: #d0d0d0;
	margin-bottom: 10px;
	border-radius: 4px;
}

.skeleton__footer {
	height: 5%;
	background-color: #d0d0d0;
	border-radius: 4px;
}

@keyframes pulse {
	0% {
		transform: scale(1);
		background-color: #d0d0d0;
	}
	50% {
		transform: scale(1.05);
		background-color: #c0c0c0;
	}
	100% {
		transform: scale(1);
		background-color: #d0d0d0;
	}
}
